<a href="https://colab.research.google.com/github/mmendezs2021/Em-prende/blob/main/DataExploration_preliminar_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams["figure.figsize"] = (12,12)

In [2]:
import numpy as np # linear algebra
from sklearn.preprocessing import LabelEncoder
import re

In [3]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.7/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (1.12.8)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.7/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: google-auth>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.32.1)
Requirement already satisfied: google-api-core<2dev,>=1.21.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.26.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.15.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (1.53.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2018.9)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (57.2.0)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (21.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2.23.0)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (3.17.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.16.0->google-api-python-client>=1.2->PyDrive) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2.4.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client>=1.2->PyDrive) (3.0.4)

In [4]:
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [5]:
auth.authenticate_user()

In [6]:
gauth = GoogleAuth()

In [7]:
gauth.credentials = GoogleCredentials.get_application_default()

In [8]:
drive = GoogleDrive(gauth)

In [9]:
download = drive.CreateFile({'id': '13wq6Z0DWPHRPIZdiyCCmjdvqCp2CKgy4'})
download.GetContentFile('Set_28Jul_3PM_sin_missingvalues_todonormalizado.csv')

In [10]:
# read dataset
#sep=None Python parsing engine will be used and automatically
# detect the separator by Pythonâ€™s builtin sniffer tool
train_df = pd.read_csv('./Set_28Jul_3PM_sin_missingvalues_todonormalizado.csv',sep=None,skiprows=0)
#                       ,dtype={"pc_1":np.float64,
#"Probabilidad de viabilidad":str,"RUC":str,
#"pc_2":np.float64,"pc_3":np.float64,"pc_4":np.float64,"pc_5":np.float64,"pc_6":np.float64,
#"pc_7":np.float64,"pc_8":np.float64,"pc_9":np.float64,"pc_10":np.float64,"pc_11":np.float64})# global random state

rand_state_ = 42

train_df.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

(35481, 44)

In [ ]:
class DataPreparation():
    def __init__(self):
        pass
        
        
    def preprocess(self, df):
        df = self.fill_missing_values(df)
        df = self.feature_extraction(df)
        df = self.handle_categorical_variables(df)
        df = self.dimensionality_reduction(df)
        return df

In [11]:
train_df.describe

<bound method NDFrame.describe of        ClasificacionEmpresas_PequeÃ±a empresa  ...           RUC
0                                          1  ...  1.790200e+12
1                                          0  ...  1.790040e+12
2                                          0  ...  1.790510e+12
3                                          1  ...  1.391770e+12
4                                          1  ...  9.900260e+11
...                                      ...  ...           ...
35476                                      0  ...  9.924580e+11
35477                                      0  ...  9.924870e+11
35478                                      1  ...  9.925510e+11
35479                                      0  ...  9.924640e+11
35480                                      0  ...  9.914410e+11

[35481 rows x 44 columns]>

In [12]:
train_df.head(10)

   ClasificacionEmpresas_PequeÃ±a empresa  ...           RUC
0                                      1  ...  1.790200e+12
1                                      0  ...  1.790040e+12
2                                      0  ...  1.790510e+12
3                                      1  ...  1.391770e+12
4                                      1  ...  9.900260e+11
5                                      1  ...  1.792240e+12
6                                      0  ...  9.900060e+11
7                                      1  ...  9.900090e+11
8                                      0  ...  9.900090e+11
9                                      0  ...  9.900090e+11

[10 rows x 44 columns]

In [16]:
train2_df = (train_df[0:11]
             .rename(columns={
                "Probabilidad de viabilidad":"p",
            })
            .query("RUC>-1.0")
)
train2_df

    ClasificacionEmpresas_PequeÃ±a empresa  ...           RUC
0                                       1  ...  1.790200e+12
1                                       0  ...  1.790040e+12
2                                       0  ...  1.790510e+12
3                                       1  ...  1.391770e+12
4                                       1  ...  9.900260e+11
5                                       1  ...  1.792240e+12
6                                       0  ...  9.900060e+11
7                                       1  ...  9.900090e+11
8                                       0  ...  9.900090e+11
9                                       0  ...  9.900090e+11
10                                      0  ...  1.901540e+11

[11 rows x 44 columns]

In [ ]:
train3_df=pd.DataFrame(train2_df,columns=['pc_1','pc_2'],dtype=float)
#print train3_df

In [ ]:
train3_df.describe

<bound method NDFrame.describe of            pc_1      pc_2
0     -0.805826  0.101677
1     -0.805826  0.101677
2     -0.805826  0.101677
3     -0.805826  0.101677
4     -0.805826  0.101677
...         ...       ...
28380 -0.813247  0.311413
28381 -0.813247  0.311413
28382 -0.813247  0.311413
28383 -0.577915  0.114637
28384 -0.607033  0.050559

[28385 rows x 2 columns]>

In [ ]:
train2_df.columns

Index(['p', 'RUC', 'pc_1', 'pc_2', 'pc_3', 'pc_4', 'pc_5', 'pc_6', 'pc_7',
       'pc_8', 'pc_9', 'pc_10', 'pc_11'],
      dtype='object')

In [ ]:
train2_df.count

<bound method DataFrame.count of                p         RUC      pc_1  ...      pc_9     pc_10     pc_11
0           alta   1.7902E12 -0.805826  ...  0.041961 -0.023338  0.487120
1           alta  1.79004E12 -0.805826  ...  0.041961 -0.023338  0.487120
2           alta  1.79051E12 -0.805826  ...  0.041961 -0.023338  0.487120
3           alta  1.39177E12 -0.805826  ...  0.041961 -0.023338  0.487120
4           alta  9.90026E11 -0.805826  ...  0.041961 -0.023338  0.487120
...          ...         ...       ...  ...       ...       ...       ...
28380  Mediabaja  9.92429E11 -0.813247  ... -0.005897  0.032181 -0.655407
28381  Mediabaja  9.92458E11 -0.813247  ... -0.005897  0.032181 -0.655407
28382  Mediabaja  9.92487E11 -0.813247  ... -0.005897  0.032181 -0.655407
28383  Mediabaja  9.92464E11 -0.577915  ...  0.045695  0.135463 -0.645764
28384  Mediabaja  9.91441E11 -0.607033  ... -0.016848 -0.063184 -0.776117

[28385 rows x 13 columns]>

In [ ]:
train2_df.dtypes

p         object
RUC       object
pc_1     float64
pc_2     float64
pc_3     float64
pc_4     float64
pc_5     float64
pc_6     float64
pc_7     float64
pc_8     float64
pc_9     float64
pc_10    float64
pc_11    float64
dtype: object

Finalmente, guardamos a csv el dataset limpio

In [17]:
train2_df.to_csv("./test4Aug.csv", index=False)